html{
    background-color: rgb(227, 97, 118);

}

header { 
    text-align: center;
      
}

h1 {
   text-align: center;
   color: crimson;
   text-decoration: underline;
   font-family: 'Times New Roman', Times, serif;
}
 
.hi {
    font-family: sans-serif;
    color: rgb(240, 219, 230);
    font-weight: lighter;
    font-style: italic;
    
}

footer {
    line-height: 0cqh;
    font-size: small;
}

h6 {
    line-height: 0cqmax;
    font-weight: bolder;

}